.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.input{
    padding: 15px;
    width: 80%;
    margin: auto;
    border: 1px solid cornflowerblue;
    border-radius: 6px;
    font-size: 16px;
}

.input:focus{
    outline: none;
}

.weather-data{
    margin-top: 50px;

    color: cornflowerblue;
}

.city{
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 20px;
}
